body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */


.carousel-inner.item active {
    width: 1000px;
    height: 600px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#myCarousel.carousel slide {
    width: 200px;
    height: 200px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

div .container {
    margin: 22px 15px 15px 10px;
    border: ridge;
}

div .comment {
    margin: 5px -40px 22px 202px;
    border: groove;
}

div .row {
    margin: 5px;
}

div .best.col-md-2 {
    margin: 25px;
    border: groove;
    font-size: large;
    background-color: burlywood;
    text-align: center;
}
