
@{
    ViewData["Title"] = "Admin Index";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-area="Admin" asp-controller="Food" asp-action="Index" class="btn btn-info">Go to food</a>
    <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-info">Go to categories</a>
    <a asp-area="Admin" asp-controller="Workouts" asp-action="Index" class="btn btn-info">Go to workouts</a>
</div>